<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <nz-form-item *ngIf="selectDayIsVisiable">
    <nz-form-control>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Select Days to Include</nz-form-label>
      <nz-checkbox-group formControlName="checkedDayOptions" [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Start</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-time-picker
        [nzUse12Hours]="true"
        nzFormat="h:mm a"
        formControlName="timePicker"></nz-time-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>End</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-time-picker
        [nzUse12Hours]="true"
        nzFormat="h:mm a"
        formControlName="timePicker"></nz-time-picker>
    </nz-form-control>
  </nz-form-item>

  <!-- <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item> -->
</form>
