<button (click)="changeCalendarView(GridType.GRID_MONTH)">Month</button>
<button (click)="changeCalendarView(GridType.GRID_TIME_WEEK)">Week</button>
<button (click)="changeCalendarView(GridType.GRID_DAY)">Day</button>
<!-- <button (click)="changeCalendarView(GridType.LIST_WEEK)">List</button> -->

<nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>

<!-- <app-fullcalendar></app-fullcalendar> -->
<router-outlet></router-outlet>


<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <!-- <h4>{{ modalDateRange }}</h4> -->
    <!-- <div *ngIf="modalType === 'ADD_TASK_DAY'"> -->
        <!-- ADD_TASK_DAY -->
    <app-task-manager-form
        [selectDayIsVisiable]="false"
        [inputTaskIsVisible]="true"
        [selectedStartDate]="selectedStartDate"
        [selectedEndDate]="selectedEndDate">
    </app-task-manager-form>
    <!-- </div> -->
</nz-modal>