<div class="calendar" id="calendar">
  <div class="calendar-dates">

      <div id="calendarSearchFilters" class="calendar-search-filters">
      </div>

      <div id="currentYear">
        Year: {{ currentYear }}
        <button nz-button [nzType]="'primary'" (click)="[
            setDateRange('YEAR', 1, monthFirstDayIndex(0, currentYear), 0, currentYear),
            showModal('SET_AVAILABILITY_YEAR')
          ]">Set Availability For Year</button>
      </div>

      <hr>

      <div id="daysInMonths">
        <div *ngFor="let month of months; let monthIndex = index">
          <br>
          Month: {{ month }}
          <br>
          <button nz-button [nzType]="'primary'" (click)="[
              setDateRange('MONTH', 1, monthFirstDayIndex(monthIndex, currentYear), monthIndex, currentYear),
              showModal('SET_AVAILABILITY_MONTH')
            ]">Set Availability For Month</button>
          <table>
            <tr>
              <th style="width: 30px;">+</th>
              <th *ngFor="let day of days">{{ day }}</th>
            </tr>
            <tr *ngFor="let week of maxWeeksInMonths">
              <td>
                <button nz-button (click)="[
                    setDateRange('WEEK', week, getFirstDayOfWeekIndex(week, monthIndex, currentYear), monthIndex, currentYear),
                    showModal('SET_AVAILABILITY_WEEK')
                  ]">Set Availability For Week</button>
                <button nz-button [nzType]="'link'" (click)="[
                    setDateRange('WEEK', week, getFirstDayOfWeekIndex(week, monthIndex, currentYear), monthIndex, currentYear),
                    showModal('ADD_TASK_WEEK')
                  ]">+ Add Task Week</button>
                <button nz-button [nzType]="'link'" (click)="[
                    setDateRange('WEEK', week, getFirstDayOfWeekIndex(week, monthIndex, currentYear), monthIndex, currentYear),
                    showModal('REMOVE_TASK_WEEK')
                  ]">+ Remove Task Week</button>
              </td>
              <td *ngFor="let day of days; let dayIndex = index">
                <div>
                  <p>
                    {{ getCalendarDay(week, dayIndex, monthIndex, currentYear) }}
                  </p>

                  <!-- <p *ngIf="tasksExist(getCalendarDay(week, dayIndex, monthIndex, currentYear))">User has a task</p> -->
                </div>
                <button nz-button (click)="[
                    setDateRange('DAY', week, dayIndex, monthIndex, currentYear),
                    showModal('SET_AVAILABILITY_DAY')
                  ]">Set Availability</button>
                <button nz-button [nzType]="'link'" (click)="[
                    setDateRange('DAY', week, dayIndex, monthIndex, currentYear),
                    showModal('ADD_TASK_DAY')
                  ]">+ Add Task</button>
                <button nz-button [nzType]="'link'" (click)="[
                    setDateRange('DAY', week, dayIndex, monthIndex, currentYear),
                    showModal('REMOVE_TASK_DAY')
                  ]">- Remove Task</button>
              </td>
            </tr>
          </table>

        </div>
      </div>

  </div>
</div>


<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <h4>{{ modalDateRange }}</h4>

  <div *ngIf="modalType === 'SET_AVAILABILITY_YEAR'">
    <!-- SET_AVAILABILITY_YEAR -->
    <app-task-manager-form
      [selectDayIsVisiable]="true"
      [inputTaskIsVisible]="false"
      [(selectedStartDate)]="selectedStartDate"
      [(selectedEndDate)]="selectedEndDate"></app-task-manager-form>
  </div>

  <div *ngIf="modalType === 'SET_AVAILABILITY_MONTH'">
    <!-- SET_AVAILABILITY_MONTH -->
    <app-task-manager-form
      [selectDayIsVisiable]="true"
      [inputTaskIsVisible]="false"
      [(selectedStartDate)]="selectedStartDate"
      [(selectedEndDate)]="selectedEndDate"></app-task-manager-form>
  </div>

  <div *ngIf="modalType === 'SET_AVAILABILITY_WEEK'">
    <!-- SET_AVAILABILITY_WEEK -->
    <app-task-manager-form
      [selectDayIsVisiable]="true"
      [inputTaskIsVisible]="false"
      [(selectedStartDate)]="selectedStartDate"
      [(selectedEndDate)]="selectedEndDate"></app-task-manager-form>
  </div>

  <div *ngIf="modalType === 'SET_AVAILABILITY_DAY'">
    <!-- SET_AVAILABILITY_DAY -->
    <app-task-manager-form
      [selectDayIsVisiable]="false"
      [inputTaskIsVisible]="false"
      [(selectedStartDate)]="selectedStartDate"
      [(selectedEndDate)]="selectedEndDate"></app-task-manager-form>
  </div>

  <div *ngIf="modalType === 'ADD_TASK_WEEK'">
    <!-- ADD_TASK_WEEK -->
    <app-task-manager-form
      [selectDayIsVisiable]="true"
      [inputTaskIsVisible]="true"
      [selectedStartDate]="selectedStartDate"
      [selectedEndDate]="selectedEndDate"></app-task-manager-form>
  </div>

  <div *ngIf="modalType === 'ADD_TASK_DAY'">
    <!-- ADD_TASK_DAY -->
    <app-task-manager-form
      [selectDayIsVisiable]="false"
      [inputTaskIsVisible]="true"
      [selectedStartDate]="selectedStartDate"
      [selectedEndDate]="selectedEndDate"></app-task-manager-form>
  </div>

  <div *ngIf="modalType === 'REMOVE_TASK_WEEK'">
    <!-- REMOVE_TASK_WEEK -->
    <app-task-manager-form
      [selectDayIsVisiable]="true"
      [inputTaskIsVisible]="true"
      [selectedStartDate]="selectedStartDate"
      [selectedEndDate]="selectedEndDate"></app-task-manager-form>
  </div>

  <div *ngIf="modalType === 'REMOVE_TASK_DAY'">
    <!-- REMOVE_TASK_DAY -->
    <app-task-manager-form
      [selectDayIsVisiable]="false"
      [inputTaskIsVisible]="true"
      [selectedStartDate]="selectedStartDate"
      [selectedEndDate]="selectedEndDate"></app-task-manager-form>
  </div>
</nz-modal>
