table {
  border: solid 1px black;
  border-radius: 300px;
}

th {
  border: solid 1px rgb(170, 157, 157);
}


tr {
  border: solid 1px rgb(170, 157, 157);
}

td {
  border: solid 1px rgb(170, 157, 157);
}
